.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.4rem;
  background-color: #f66249;
  color: var(--neutral-white);
  justify-content: center;
  align-content: center;
  height: 12rem;
}

.flex_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

i {
  color: #fff;
  font-size: 4rem;
  align-self: baseline;
}

.flex_container h2 {
  font-size: 1.8rem;
}

.flex_container p {
  font-size: 1.6rem;
  font-style: italic;
}

@media only screen and (max-width: 567px) {
  .grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.4rem;
    gap: 2rem;
    justify-content: center;
    align-content: center;
  }
}
