.products_container {
  display: flex;
}

.filter_options {
  flex: 0 0 350px;
  background-color: #fff;
  padding: 4rem;
  position: static;
}

.products_list {
  flex: 5 0 0;
  background-color: #f7f6f9;
  padding: 4rem;
}
