.heading {
  font-size: 2.6rem;
  line-height: 3rem;
  text-transform: uppercase;
  position: relative;
  color: #0f172a;
}

.underline {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 4rem;
  height: 0.4rem;
  content: '';
  display: block;
  background: #f66249;
}

.sub_heading {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem;
  text-transform: uppercase;
  position: relative;
  color: #0f172a;
}
