.filter_container {
  margin: 2.4rem 0;
}

.filter_container span {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #334155;
  margin-left: 1rem;
}

.filter {
  margin-top: 4rem;
}

.filter_by_size {
  display: flex;
  flex-wrap: wrap;
  width: 28rem;
  gap: 1rem;
}
